.scroll-menu-icon
{
    display:block;
    position:fixed;
    margin-top:12px;
    margin-left:-64px;
    width:48px;
    height:48px;
}
#scroll-bar
{
    position:fixed;
    z-index:100;
    width:10px;
	height:20vh;
    right:0px;
    background:#F80;
}
#scroll-menu
{
    position:fixed;
    z-index:200;
    width:130px;
    min-width:88px;

	height:100vh;

    right:-130px;
    top:0;
    bottom:0;
    text-align: center;
}
#scroll-menu:hover{
    right:0;
}
#scroll-menu:hover .scroll-menu-icon-open{
    display:none;
}
#scroll-menu ul{
    list-style:none;
    width:100%;
    min-width:88px;
    min-width:inherit;

    height:100vh;

    background:#010101;
    	background-image:url('../grf/pattern.celsus.png');
    	background-attachment:fixed;
    	background-repeat:repeat;
}
#scroll-menu ul li{
    float:left;
    width:100%;
    min-width:88px;
    min-width:inherit;
}
#scroll-menu ul li a{
    display:block;
    width:inherit;
    min-width:inherit;
    line-height:20vh;
    height:20vh;
    color:#fff;
    text-decoration:none;
    font-size:12px;
    /*background:#000;*/
    border-left:1px solid #f58c40;
    margin-left:-1px;
}
#scroll-menu ul li a:hover,
#scroll-menu ul li a .active{
     border-left:10px solid #f58c40;
     margin-left:-10px;
 }