.scroll-menu-icon
{
    display:block;
    position:fixed;
    margin-top:12px;
    margin-left:-64px;
    width:48px;
    height:48px;
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#F80')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(0px 0px 4px rgba(255,128,0,0.95));
    filter: drop-shadow(0px 0px 4px rgba(255,128,0,0.95));
}
.shadowed {
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
filter: url(#drop-shadow);
-webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5));
}
#scroll-bar
{
    position:fixed;
    z-index:100;
    width:8px;
	height:20vh;
    right:0px;
    background:#F80;
    background-color:rgba(255,128,0,0.7);
}
#scroll-menu-bar, #scroll-menu{

}
#scroll-menu-bar
{
    position:absolute;
    width:130px;
	height:20vh;
    right:0px;
    background:rgba(255,128,0,0.1);
}
#scroll-menu
{
    position: absolute;
    z-index:200;
    width:130px;
    min-width:88px;
	height:100vh;
    right:-130px;
    top:0;
    bottom:0;
    text-align: center;
}
#scroll-menu:hover{
    right:0;
}
#scroll-menu:hover .scroll-menu-icon-open{
    display:none;
}
#scroll-menu ul{
    list-style:none;
    width:100%;
    min-width:88px;
    min-width:inherit;
    height:100vh;
    /*background:#210;*/
/*   	background-image:url('../grf/pattern.celsus.png');
   	background-attachment:fixed;
   	background-repeat:repeat;*/
}
#scroll-menu ul li{
    float:left;
    width:100%;
    min-width:88px;
    min-width:inherit;
}
#scroll-menu ul li a{
    display:block;
    width:inherit;
    min-width:inherit;
    line-height:20vh;
    height:20vh;
    color:#fff;
    text-decoration:none;
    font-size:12px;
    /*background:#000;*/
    border-left:1px solid #f58c40;
    margin-left:-1px;
}
#scroll-menu ul li a:hover{
     border-left:10px solid #f58c40;
     margin-left:-10px;
     border-color:rgba(256,128,0,0.7);
 }
