.menu-page {
    height:77px;
    margin:0 0 25px 0;
    background:rgba(0,0,0,0.8);
}
.menu-page > menu, .menu-page > span {
    display:block;
    float:left;
    width:100%;
    text-align:center;
    color:#fff;
}
.menu-page > menu{

}

.menu-page > span
{
    border-top:solid 1px #f58c40;
    padding:5px 0px;
}

.menu-page > menu > a
{
    display:block;
    width:40%;
    height:50px;
    float:left;
    background-size:70%;
}

.menu-page > menu > ul
{
    list-style:none;
    display:block;
    width:60%;
    float:right;
}

.menu-page > menu > ul li{
    float:left;
    width:25%;
}

.menu-page > menu > ul li > a{
    display:block;
    line-height:50px;
    height:50px;
    color:#fff;
    text-decoration:none;
    font-size:12px;
}

.menu-page > menu > ul li > a:hover,
.menu-page > menu > ul li > a .active{
    /*border-bottom:3px solid #f58c40;*/
}

#start .menu-page
{
    position:relative;
    z-index:100;
    overflow:hidden;
    box-shadow: 0px 0px 32px rgba(245, 140, 64, .75);
    padding:0 25px 0 25px;
}
#start .menu-page > menu > ul {
    width:100%;
}
#start .menu-page > menu > ul li{
    width:25%;
}